<div class="alert text-center cookiealert" role="alert">

    Cookies are used on this website to ensure you get the best experience. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>

</div>