<div class="alert text-center cookiealert" role="alert">

    {{ symplyPage.cookieAlertText }} <a href="https://cookiesandyou.com/" target="_blank">{{ symplyPage.cookieAlertLearnMore }}</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        {{ symplyPage.cookieAlertAgree }}
    </button>

</div>