<footer class="mt-5 p-3 text-center">
    <p>{{ symplyPage.footerSentence }} <a href="{{ symplyPage.footerUrl }}"
                                          target="_blank">{{ symplyPage.footerUrlTitle }}</a></p>
</footer>