<footer class="mt-5 p-3 text-center">
    {{ symplyPage.footerSentence }} <a href="{{ symplyPage.footerUrl }}"
                                       target="_blank">{{ symplyPage.footerUrlTitle }}</a>
</footer>