<header id="header">
    <h1>{{ symplyPage.pageTitle }}</h1>
    <img src="{{ asset(symplyPage.pageHeaderImageURL) }}" class="img-fluid"
         alt="{{ symplyPage.pageHeaderImageAlt }}">
    <h2>{{ symplyPage.pageSlogan }}</h2>
</header>