<!-- Modal Menu -->
<div class="modal" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ symplyPage.modalMenuTitle }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% if NULL != symplyPage.sectionOrder %}

                        {% for section in symplyPage.sectionOrder %}


                            <li><a href="#{{ section[0] }}"
                                   onclick="$('#modalMenu').modal('hide')">{{ attribute(symplyPage, section[1]) }}</a>
                            </li>

                        {% endfor %}

                    {% endif %}
                    <li><a href="#header" onclick="$('#modalMenu').modal('hide')">{{ symplyPage.textLinkGoTop }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal menu -->
<nav class="navbar navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#modalMenu"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>