:root {
    --main-dark-color: #000;
}

:root {
    --main-medium-color: #4A4A4A;
}

:root {
    --main-light-color: #fff;
}

:root {
    --main-medium-font-weight: 400;
}

:root {
    --main-strong-font-weight: 900;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: var(--main-medium-font-weight);
    background-color: var(--main-dark-color);
    color: var(--main-dark-color);
}

header {
    margin-top: 0;
    background-color: var(--main-dark-color);
}

header h1 {
    padding: 1rem 2rem;
    margin-bottom: 0;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    font-size: 4rem;
    font-weight: var(--main-strong-font-weight);
    text-transform: uppercase;
}

header img {
    width: 100%;
    border-top: .5rem solid var(--main-light-color);
    border-bottom: .5rem solid var(--main-light-color);
}

#text {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#text h2 {
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 1.25rem;
    background-color: var(--main-light-color);
}

#text p {
    color: var(--main-light-color);
}

#text p#text-signature a {
    color: var(--main-light-color);
    text-decoration: none;
}

#text p#text-signature a:hover {
    text-decoration: underline;
}

.card .card-body p {
    color: var(--main-dark-color);
}

#video,
#bandcamp-album,
#cards,
#on-the-internet{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#video h3,
#bandcamp-album h3,
#cards h3,
#on-the-internet h3{
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--main-light-color);
}

#video .card {
    background-color: var(--main-light-color);;
    border: 4px solid var(--main-light-color);;
}

#video .card .card-body {
    padding: 2rem;
}

#video .card .card-body h5 {
    color: var(--main-dark-color);
    font-weight: bolder;
}

#bandcamp-album #bandcamp-album-player-container {
    border: 4px solid #FFF;
    background-color: #333333;
}

#cards .card-wrapper {
    margin-bottom: 2rem;
}

#cards .card-wrapper .card {
    border: 4px solid var(--main-light-color);
    background-color: var(--main-dark-color);
    padding-bottom: .75rem;
    margin-bottom: 0;
}
#cards .card .card-img-top {
    border-bottom: none;
}
#cards .card-wrapper .card .card-body {
    border-top: 4px solid var(--main-light-color);
    padding: 2rem;
}

#cards .card-wrapper .card .card-body h4 {
    background-color: var(--main-medium-color);
    margin-bottom: 1.25rem;
}

#cards .card-wrapper .card .card-body h4 a {
    display: inline-block;
    background-color: var(--main-medium-color);
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    color: var(--main-light-color);
}

#cards .card-wrapper .card .card-body h4 a:hover {
    color: var(--main-dark-color);
}

#cards .card-wrapper .card .card-body p {
    color: var(--main-light-color);
}

#on-the-internet .btn-default {
    font-size: 2rem;
    color: var(--main-light-color);
    border: 4px solid var(--main-light-color);
    background-color: var(--main-dark-color);
    border-radius: 0;
    text-transform: uppercase;
    min-width: 80px;
}

#on-the-internet .btn-default:hover {
    color: var(--main-dark-color);
    background-color: var(--main-light-color);
    border: 4px solid var(--main-light-color);
}

#on-the-internet li.list-inline-item {
    margin-bottom: .75rem;
}

#share {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#share h3 {
    text-transform: uppercase;
    margin-bottom: .75rem;
    background-color: #333333;
    color: #000000;
}

#share li a.btn-default {
    display: inline-block;
    margin-top: .75rem;
    font-size: 1.25rem;
    color: #000000;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0;
    text-transform: uppercase;
    min-width: 80px;
    text-decoration: none;
}

#share li a.btn-default:hover {
    color: #ffffff;
    border: 4px solid #ffffff;
    background-color: #000000;
}

.modal-content {
    color: black;
}

.modal-content a {
    color: black;
}

.modal-content a:hover {
    color: red;
}

nav.navbar {
    position: fixed;
    bottom: 30px;
    right: 30px;
}