body {
    color: #FFF;
    background-color: #000000;
}

a {
    color: #FFF;
    text-decoration: underline;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

.card {
    color: #000;
    background-color: #FFF;
    border: 4px solid #FFF;
    border-radius: 0;
    margin-bottom: 4rem;
}

header,
#intro,
#video,
#photo,
footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

header {
    margin-top: 0;
}

header h1,
header h2 {
    padding: 1rem 2rem;
    background-color: #FF0000;
    text-transform: uppercase;
    margin-bottom: 0;
}

header h2 {
    background-color: transparent;
}

#intro h3,
#video h3,
#photo h3 {
    text-transform: uppercase;
    margin-bottom: .75rem;
}

#intro p#intro-signature{
    font-style: italic;
}