body{
    color: #FFF;
    background-color: #000000;
}
header h1,
header h2{
    padding: 1rem 2rem;
    background-color: #FF0000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

header h2{
    background-color: transparent;
}