{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <h1>{{ symplyPage.pageTitle }}</h1>
        <img src="{{ asset(symplyPage.pageHeaderImageURL) }}" class="img-fluid" alt="alt">
    </header>

{% endblock %}

