{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <h1>{{ symplyPage.pageTitle }}</h1>
        {#<img src="url-image-header" class="img-fluid" alt="alt">#}
    </header>

{% endblock %}

