{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ symplyPageCopy.pageTitle }}</h1>
        </div>
    </div>

{% endblock %}

